<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>Title</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'maptest/css/main.css' %}" type="text/css">

</head>
<body class="text-center">
<h1>Поиск объектов на карте</h1>
<main class="">
  <form action="/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="w-50 btn btn-lg btn-primary" value="Поиск">
  </form>
</main>

{% if data.address %}
  <p>
    Адрес: {{ data.address }} <br>
    Радиус: {{ data.radius }} км.<br>
    Координаты ({{ data.geo_lat }}, {{ data.geo_lon }})
  </p>
{% endif %}

{% if not data.error %}
  {% if image %}
    <img src="media/{{ img.image }}" alt="{{ image }}" style="max-width: 900px">
  {% endif %}


  {% if data.cities %}
    <div class="list_city">
      <h5>Города из БД, находящиеся в радиусе {{ data.radius }} км.</h5>
      <ul>
        {% for city in data.cities %}
          <li>{{ forloop.counter }}. [{{ city.id }}] {{ city.city_type }} {{ city.city }}
            ({{ city.geo_lat }}, {{ city.geo_lon }})
          </li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    {% if data.radius > 0 %}
      <p>Города в радиусе не найдены</p>
    {% else %}
      <p>Радиус не задан</p>
    {% endif %}
  {% endif %}
{% else %}
  <div class="error-block">
    {% for msg in data.error_message %}
      <div class="error-msg">{{ msg }}</div>
    {% endfor %}
  </div>
{% endif %}
</body>
</html>